.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  background-color: $white-color;
  color: $primary-text-color;
  font-family: $font-family-1;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.heading {
  color: $title-text-color;

  @include font(700, 36px, 1.17, 0.03em);

  text-align: center;
}
