.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white-color;
  padding: 48px 40px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /*transform: translateX(100%);*/
  transition: opacity 250ms $timing-function;

  @media screen and(min-width:$tablet) {
    display: none;
  }
}
.menu__container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.menu__toggle {
  position: absolute;
  top: 10px;
  right: 0;
  min-width: 40px;
  min-height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color-1;
  }
}
@media screen and(min-width:$tablet) {
  .menu__toggle {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 0;
  fill: $title-text-color;
}
.menu__mobile {
  @extend %list;
  margin-bottom: 302px;
}
.menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu__link {
  display: block;
  color: $title-text-color;
  @include font(500, 40px, 1.18, 0.02em);

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color-1;
  }

  &--active {
    color: $accent-color-1;
  }
}

.menu__contacts {
  @extend %list;
  margin-bottom: 64px;
}
.menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.menu__tel-link {
  display: block;
  @include font(500, 34px, 1.17, 0.02em);
  color: $accent-color-1;
}
.menu__mail-link {
  display: block;
  @include font(500, 24px, 1.17, 0.02em);
  color: $primary-text-color;
}

.menu__network {
  @extend %list;
  display: flex;
}
.menu__network-item:not(:last-child) {
  margin-right: 20px;
}
.menu__network-link {
  display: block;
  @include font(500, 18px, 1.22, 0.02em);
  color: $accent-color-1;
}
