.site-nav {
  @extend %list;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $white-color;
  padding: 48px 40px;
}

.site-nav__link {
  display: block;

  color: $title-text-color;

  @include font(500, 14px, 1.14, 0.02em);

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color-1;
  }

  &--active {
    color: $accent-color-1;
  }
}
