//text base color
$primary-text-color: #757575;
$white-color: #ffffff;
$title-text-color: #212121;
$logo-color: #000000;

//accent color
$accent-color-1: #2196f3;
$accent-color-2: #188ce8;
$accent-color-3: rgba(33, 150, 243, 0.9);

//background color
$primary-background-color: #2f303a;
$secondary-background-color: #f5f4fa;

$gradient-background-color-1: rgba(47, 48, 58, 0.4);

//border color
$primary-border-color: #ececec;
$secondary-border-color: #eeeeee;
$modal-border-color: rgba(33, 33, 33, 0.2);

//icon color
$icon-color: #afb1b8;
$icon-footer-color: rgba(255, 255, 255, 0.1);

//gray color
$gray-color-1: rgba(255, 255, 255, 0.6);
$gray-color-2: rgba(47, 48, 58, 0.8);
$gray-color-3: rgba(0, 0, 0, 0.1);
$gray-color-4: rgba(117, 117, 117, 0.5);
$gray-color-5: rgba(0, 0, 0, 0.2);
$gray-color-6: rgba(0, 0, 0, 0.12);
$gray-color-7: rgba(0, 0, 0, 0.14);
$gray-color-8: rgba(0, 0, 0, 0.15);
$gray-color-9: rgba(255, 255, 255, 0.3);
$gray-color-10: rgba(0, 0, 0, 0.08);
$gray-color-11: rgba(0, 0, 0, 0.06);
$gray-color-12: rgba(0, 0, 0, 0.16);
//timing-function
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//font
$font-family-1: Roboto, sans-serif;
$font-family-2: Raleway, sans-serif;
